@import "../common-scss/common.scss.scss";
section{
  display: flex;
  align-items: center;
  font-family:$font-family;
      margin: 1em 0 3em;
      color:#fff;
  & input{
        width: 100px;
    border: 1px solid $brand-blueLight;
    padding: 5px;
    font-size: 1.1rem;
    color:$brand-blueDark;
    font-family:inherit;
    margin-left:5px;
  }

}
button{
    border: 2px solid #6ab727;
    background: #6ab727;
    padding: 1rem 2rem;
    font-size: 1rem;
    color: #ffffff;
    box-shadow: 0 2px 3px #6ab727;
    border-radius: 5px;
    font-family:$font-family;
    text-shadow: 0 -1px 0 #6f6f6f;
    text-transform: uppercase;
    margin-bottom: 2em;
        &:disabled{
      opacity:.7;
    }
  }

